header {
    height: 40px;
    
}

.background{
    background-image: linear-gradient(rgba(96, 185, 245, 0.945), rgba(250, 250, 250, 0.5)),url("C:/Payal Project/Company Homepage with Flexbox/Resource/header.jfif");
    height: 100px;
    border-bottom: 2px solid blue;
}
h1 {
    margin-top: 0;
    text-align: center;
    top: -50%;
    left: 50%;
    transform: translate(-21%, -180%);
    font-size: 40px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color:rgba(7, 9, 182, 0.945);
}
nav{
    text-align: center;

}
 nav li {
    list-style: none;
    display:inline;
    margin-top: -5px;
    float: right;
    margin-right: 20px;
}
li {
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color:rgba(7, 9, 182, 0.945);
    border-bottom: none;
}
