body {
    background-color: hsl(207, 68%, 73%);
}

header {
    height: 40px;
    
}

.background{
    background-image: linear-gradient(rgba(96, 185, 245, 0.945), rgba(250, 250, 250, 0.5)),url("C:/Payal Project/Company Homepage with Flexbox/Resource/header.jfif");
    height: 100px;
    border-bottom: 2px solid rgb(109, 167, 214);
}
h1 {
    margin-top: 0;
    text-align: center;
    top: -50%;
    left: 50%;
    transform: translate(-21%, -180%);
    font-size: 40px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color:rgba(7, 9, 182, 0.945);
}
nav{
    text-align: center;

}
 nav li {
    list-style: none;
    display:inline;
    margin-top: -5px;
    float: right;
    margin-right: 20px;
}
li {
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color:rgba(7, 9, 182, 0.945);
    border-bottom: none;
}
.Pharma img{
    
    margin-top: 28px;
    padding-left: 70px;

}
.three {
    display: flex;
    width: 900px;
    height:200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
   
}

.quality {
    background-color: rgba(181, 219, 245, 0.945);
    font-family: Helvetica, sans-serif;
    padding: 0 20px 20px 20px;
    width: 300px;
    color:rgb(5, 79, 92);
}
.consistency {
    background-color:rgba(215, 232, 247, 0.945);
    font-family: Helvetica, sans-serif;
    padding: 0 20px 20px 20px;
    width: 300px;
    color:rgb(5, 79, 92);
}
.excellence {
    background-color: rgba(198, 226, 245, 0.945);
    font-family: Helvetica, sans-serif;
    padding: 0 20px 20px 20px;
    width: 300px;
    color:rgb(5, 79, 92);
}
button {
    color:rgb(5, 79, 92);
}
.therapeutic {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}
figcaption {
    text-align: center;
    text-decoration: bold;
    color:rgb(4, 65, 114);
    font-size: 20px;
}
.ourproduct {
    text-align: center;
    font-size: 30px;
    color:rgb(4, 65, 114);
}
.team {
    background-image: url("C:/Payal Project/Company Homepage with Flexbox/Resource/our team.jfif" );
    background-repeat: no-repeat;
    width: 1000px;
    height: 500px;
    background-size:cover;
    opacity: 0.9;
    margin-left:170px;
}
 .member {
    width:250px;
    height: 200px;
    margin-right: 30px;
    margin-top: 50px;
   
}
.alex {
    width: 250px;
    height: 400px;
}
.lisa {
    width: 250px;
    height: 400px;
}
.omar {
    width: 250px;
    height: 400px;
}

.a {
    text-align: center;
    text-decoration: bold;
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family:Helvetica, sans-serif;
}
.l {
    text-align: center;
    text-decoration: bold;
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family:Helvetica, sans-serif;
}
.o {
    text-align: center;
    text-decoration: bold;
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family:Helvetica, sans-serif;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.foot {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family:Helvetica, sans-serif;
    color:rgb(4, 65, 114);
}
.copy {
    font-size: 15px;
    font-weight: bold;
    font-family:Helvetica, sans-serif;
    color:rgb(4, 65, 114);
    
}